.CodeMirror{
    min-height: calc(100vh);
    font-size: 18px;
    line-height: 1.6;
    padding-top: 15px;
}
@media (max-width: 640px) {
    .CodeMirror{
        min-height: 75vh;
        font-size: 18px;
        line-height: 1.6;
        padding-top: 15px;
    }
  }

  ::-webkit-scrollbar {
    width: 5px;
    height:5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }